/* start header css */


/* top-bar css */
.top-bar{
    background-color: #709b1d;
}

.top-bar .nav{
    margin: 0px;
}


.top-bar .nav .nav-item a{
    font-size: 14px;
    color: #ffffff;
    text-transform: capitalize;
    padding:12px;
}
.top-bar .nav .nav-item a i{
    margin-right: 7px;
}
.top-bar .nav .nav-item :hover{
    background-color: #ffffff;
    transition: .5s;

}
.top-bar .nav .nav-item a:hover{
    color: #709b1d;
    transition: .5s;
}

.btn {
    background-color: #ffffff;
    font-size: 14px;
    color: #709b1d;
    text-transform: capitalize;
    padding:12px;

}

.dropdown-item{
    text-transform: capitalize;
}
/* end top-bar css */

/* top-mid-bar css */
.top-mid-bar{
    height: 90px;
}

.mid-bar-content{
    padding-top: 20px;

}

.logo span{
    color: #709b1d;
}
.mid-right{
    padding-top: 25px;
}
.mid-bar-content a{
    text-decoration: none;
    font-weight: bold;
    color:#709b1d ;
    float: right;

}
.mid-bar-content a span{
    color: black;
}

.mid-icons i{
    background-color:#ffffff ;
    color: #709b1d;
}
/* end top-mid-bar css */

/* top-menu-bar css */

.top-menu-bar{
    background-color: #f3f3f3;
}
.top-menu-bar a{
    font-size: 14px;
    color: #709b1d;
    text-transform: capitalize;
    padding-left: 0px;
    
}
.top-menu-bar .nav-item:hover{
    background-color: #709b1d;
    transition: .5s;
    border-radius: 5px;
  
}
.top-menu-bar  a:hover{
    color: #ffffff;
    transition: .5s;
}
.input-group{
    padding:4px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input-group i{
    background-color: #709b1d;
    padding: 10px;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

/* slider */


.d-block {
    width: 100%;
    height: 420px;
    

}

 /* slider end */

 /* title-bar */
 .title-bar{
     padding: 10px 0px;
     background-color: #709b1d;
 }
 .box{
     width: 100%;
     padding: 5px;
     background-color: #83b228 ;
 }
 .box i{
     font-size: 40px;
     color: #ffffff;
 }
 /* title bar ends */

 .features{
     padding: 80px;
 }

 .features-bar{
     background-color: #709b1d;
     border-radius: 4px;
 }
 .features-bar-content{
     padding-top: 5px;
    
 }

 .features-bar-nav a{
     color: #ffffff;
     text-transform: capitalize;

 }
 .features-bar-nav a:hover{
     background-color: #ffffff;
     border-radius: 5px;
     transition: .5s;

 
}
/* cards-bar-1 */
.cards-bar-1{
    padding-top: 50px;
    background-color: #ffffff;
    margin: 0px ;
}
.card-body{
    background-color: #f3f3f3;
}
.card-title{
    border-style: outset;
    background-color: aliceblue;
}
.card-text{
    color: #83b228;
}
.icofont-star{
    background-color: #709b1d;
    color: #ffffff;
}
/*end cards-bar-1 */

/* brands */
h2{
    text-align:center;
    padding: 10px;
    background-color: #709b1d;
  }
  /* Slider */
  
  .slick-slide {
      margin: 0px 20px;
      padding-bottom: 50px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

  /* brands end */

  /* footer */
  .footer-part{
      background-color: #f3f3f3;
      padding-top: 20px;
  }
.footer-menu h6{
    color: #709b1d;
}
.footer-menu p a{
    text-decoration: none;
}